

.login-page{
    
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
    font-family: sans-serif;
    
}

.login-container{
    background-color: white;
    width: 25%;
    height: 40%;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}


.login-btn {
    
    width: 90%;
    height: 3em;
    background-color: rgb(32, 177, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
    margin-top: 15px;
}


.input-container i{
    position: absolute;
    
}

.input-container{
    width: 90%;
    padding: 10px;
    
}

.icon { 
    padding: 10px; 
    color: green; 
    min-width: 50px; 
    text-align: center; 
} 

input {
    border: none;
    background-color: white;
    border-radius: 0.25em;
    /**padding: 2em;
    **/
    font-size: 0.9em;
    border: 1px solid #d8d8da;
    width: 100%; 

    padding: 10px; 
    text-align: center; 
    box-sizing: border-box;

}

input:focus {
    outline-color: rgb(32, 177, 255);
}





.text {
    position: relative;
    bottom: 0.5%;
}

h1{
    margin-bottom: 30px;
}